from .common import *

SECRET_KEY = '--SECRET_KEY--'

DEBUG = False

ALLOWED_HOSTS = ['--HOST--']

INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'data_mapper',
    'example_app',
]
